@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #efefef;
}

header {
  width: 250px;
  background-color: rgb(1, 1, 89);
  height: 100%;
  position: fixed;
  z-index: 1;
}
header h1 {
  width: 200px;
  margin: 0 auto;
  margin-top: 100px;
}
header h1 img {
  width: 200px;
  height: 100px;
}
header button {
  color: #fff;
  background: none;
  margin-right: 10px;
  display: none;
}
header div.inner-wrap div.inner {
  text-align: center;
  width: 150px;
  line-height: 20px;
  margin: 0 auto;
}
header div.inner-wrap div.inner nav ul.gnb {
  color: #fff;
  font-size: 12px;
}
header div.inner-wrap div.inner nav ul.gnb li {
  padding: 5px;
  border-radius: 15px;
  transition: 0.5s;
}
header div.inner-wrap div.inner nav ul.gnb li:hover {
  border: 2px solid #fff;
}
header div.inner-wrap div.selectbox {
  width: 100px;
  padding: 5px 15px;
  border: 2px solid rgb(11, 210, 245);
  border-radius: 20px;
  font-size: 12px;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  position: relative;
  margin: 10px auto;
}
header div.inner-wrap div.selectbox p {
  width: 75px;
}
header div.inner-wrap div.selectbox ul {
  position: absolute;
  top: 40px;
  color: #333;
  background-color: #fff;
  width: 120px;
  left: 3px;
  line-height: 2;
  z-index: 3;
  border-radius: 10px;
  text-align: center;
  display: none;
}
header div.inner-wrap div.selectbox ul li:hover {
  color: #999;
}
header div.inner-wrap div.selectbox span.select_btn {
  text-align: right;
  color: #8dff79;
}
header div.inner-wrap div.selectbox span.select_btn.off {
  display: none;
}
header div.inner-wrap.on {
  display: none;
}
header div.inner-wrap.on div.inner {
  text-align: center;
  width: 150px;
  line-height: 20px;
  margin: 0 auto;
}
header div.inner-wrap.on div.inner nav ul.gnb {
  color: #fff;
  font-size: 12px;
}
header div.inner-wrap.on div.inner nav ul.gnb li {
  padding: 5px;
  border-radius: 15px;
  transition: 0.5s;
}
header div.inner-wrap.on div.inner nav ul.gnb li:hover {
  border: 2px solid #fff;
}
header div.inner-wrap.on div.selectbox {
  width: 100px;
  padding: 5px 15px;
  border: 2px solid rgb(11, 210, 245);
  border-radius: 20px;
  font-size: 12px;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  position: relative;
  margin: 10px auto;
}
header div.inner-wrap.on div.selectbox p {
  width: 75px;
}
header div.inner-wrap.on div.selectbox ul {
  position: absolute;
  top: 40px;
  color: #333;
  background-color: #fff;
  width: 120px;
  left: 3px;
  line-height: 2;
  z-index: 3;
  border-radius: 10px;
  text-align: center;
  display: none;
}
header div.inner-wrap.on div.selectbox ul li:hover {
  color: #999;
}
header div.inner-wrap.on div.selectbox span.select_btn {
  text-align: right;
  color: #8dff79;
}
header div.inner-wrap.on div.selectbox span.select_btn.off {
  display: none;
}
header ul.sns {
  color: #fff;
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 60px;
}
header ul.sns li {
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 5px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  transition: 0.5s;
}
header ul.sns li.blue:hover {
  color: #0000ff;
  border: 1px solid #0000ff;
}
header ul.sns li.red:hover {
  color: #ff0000;
  border: 1px solid #ff0000;
}
header ul.sns li.pink:hover {
  color: lightpink;
  border: 1px solid lightpink;
}
header ul.sns li.lightblue:hover {
  color: lightblue;
  border: 1px solid lightblue;
}

div.main {
  margin-left: 250px;
}
div.main section#section1 div.bg {
  background: url(../img/sc1bg.png) center/cover no-repeat;
  height: 500px;
}
div.main section#section1 div.inner-wrap {
  background-image: url(../img/sc1textbg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
}
div.main section#section1 div.inner-wrap div.inner {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
div.main section#section1 div.inner-wrap div.inner span img {
  height: 100px;
  width: 100px;
}
div.main section#section1 div.inner-wrap div.inner img {
  width: 400px;
}
div.main section#section2 {
  background: url(../img/sc2bg.png) center/cover no-repeat;
  padding: 40px;
}
div.main section#section2 div.sc2-wrap {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}
div.main section#section2 div.sc2-wrap h1 {
  margin-bottom: 50px;
  padding-top: 50px;
}
div.main section#section2 div.sc2-wrap div.content {
  display: flex;
  gap: 20px;
}
div.main section#section2 div.sc2-wrap div.content.top {
  margin-bottom: 20px;
}
div.main section#section2 div.sc2-wrap div.content.top div {
  width: 50%;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
}
div.main section#section2 div.sc2-wrap div.content.top div img {
  transform: scale(1);
  height: 300px;
}
div.main section#section2 div.sc2-wrap div.content.top div p {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-weight: 900;
}
div.main section#section2 div.sc2-wrap div.content.top div p span {
  font-size: 13px;
}
div.main section#section2 div.sc2-wrap div.content.bottom {
  margin-bottom: 30px;
}
div.main section#section2 div.sc2-wrap div.content.bottom div {
  width: 33.3333333333%;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
}
div.main section#section2 div.sc2-wrap div.content.bottom div img {
  transform: scale(1);
  height: 200px;
}
div.main section#section2 div.sc2-wrap div.content.bottom div p {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-weight: 900;
}
div.main section#section2 div.sc2-wrap div.content.bottom div p span {
  font-size: 13px;
}
div.main section#section2 div.sc2-wrap a.btn {
  border: 2px solid rgb(61, 61, 255);
  background-color: white;
  color: #4040ff;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 700;
}
div.main section#section3 {
  background: url(../img/sc3_left.png) center/cover no-repeat;
  height: 400px;
}
div.main section#section4 {
  background: url(../img/sc4.png) center/cover no-repeat;
  height: 800px;
}
div.main section#section4 div {
  color: #fff;
  text-align: center;
  padding-top: 100px;
}
div.main section#section4 div h1 {
  font-size: 30px;
  margin-bottom: 10px;
}
div.main section#footer div.download {
  display: flex;
  background: linear-gradient(70deg, rgb(235, 250, 102), rgb(41, 252, 199));
  padding: 30px;
  justify-content: center;
  align-items: center;
}
div.main section#footer div.download img.logo {
  width: 400px;
  height: 200px;
}
div.main section#footer div.download div.text {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
}
div.main section#footer div.download div.text a {
  font-size: 30px;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 700;
}
div.main section#footer div.download div.text img {
  height: 70px;
}
div.main section#footer div.download div.url img {
  height: 50px;
}
div.main section#footer div.sns ul.sns {
  color: #333;
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
}
div.main section#footer div.sns ul.sns li {
  border: 1px solid #333;
  border-radius: 50%;
  padding: 5px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  transition: 0.5s;
}
div.main section#footer div.sns ul.sns li.blue:hover {
  color: #0000ff;
  border: 1px solid #0000ff;
}
div.main section#footer div.sns ul.sns li.red:hover {
  color: #ff0000;
  border: 1px solid #ff0000;
}
div.main section#footer div.sns ul.sns li.pink:hover {
  color: lightpink;
  border: 1px solid lightpink;
}
div.main section#footer div.sns ul.sns li.lightblue:hover {
  color: lightblue;
  border: 1px solid lightblue;
}
div.main section#footer div.foot_text {
  background-color: rgba(91, 252, 252, 0.3);
  padding: 10px 0;
  height: 30px;
}
div.main section#footer div.foot_text ul {
  display: flex;
  gap: 40px;
  justify-content: center;
}
div.main section#footer div.foot_text ul li {
  position: relative;
}
div.main section#footer div.foot_text ul li a::after {
  content: "";
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
  background-size: 25px 25px;
  width: 25px;
  height: 25px;
  opacity: 0.5;
  position: absolute;
  top: 0;
  display: inline-block;
}
div.main section#footer div.foot_text ul li a:hover:after {
  content: "";
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
  background-size: 25px 25px;
  width: 25px;
  height: 25px;
  opacity: 1;
  position: absolute;
  top: 0;
  display: inline-block;
}
div.main section#footer p {
  padding: 50px;
}

@media screen and (max-width: 1299px) {
  header {
    width: 100%;
    display: flex;
    height: 70px;
    align-items: center;
  }
  header h1 {
    width: 100px;
    margin-top: 0;
  }
  header h1 img {
    width: 100px;
    height: 50px;
  }
  header div.inner-wrap {
    display: flex;
    align-items: center;
  }
  header div.inner-wrap div.inner {
    display: flex;
    justify-content: center;
    width: 700px;
    text-align: center;
  }
  header div.inner-wrap div.inner nav ul.gnb {
    display: flex;
    color: #fff;
    gap: 15px;
    font-size: 12px;
    align-items: center;
  }
  header div.inner-wrap div.inner nav ul.gnb li {
    padding: 5px;
    border-radius: 15px;
    transition: 0.5s;
  }
  header div.inner-wrap div.inner nav ul.gnb li:hover {
    border: 2px solid #fff;
  }
  header div.inner-wrap div.selectbox {
    margin-right: 30px;
  }
  header div.inner-wrap div.selectbox p {
    width: 75px;
  }
  header div.inner-wrap div.selectbox ul {
    position: absolute;
    top: 40px;
    color: #333;
    background-color: #fff;
    width: 120px;
    left: 3px;
    line-height: 2;
    z-index: 3;
    border-radius: 10px;
    text-align: center;
    display: none;
  }
  header div.inner-wrap div.selectbox ul li:hover {
    color: #999;
  }
  header div.inner-wrap div.selectbox span.select_btn {
    position: absolute;
    right: 15px;
    width: 40px;
    text-align: right;
    color: #8dff79;
  }
  header div.inner-wrap div.selectbox span.select_btn.off {
    display: none;
  }
  header ul.sns {
    display: none;
  }
  div.main {
    margin-left: 0;
  }
  div.main section#section1 div.inner-wrap div.inner span img {
    width: 60px;
    height: 60px;
  }
}
@media screen and (max-width: 949px) {
  header button.menu_btn {
    display: block;
  }
  header button.menu_btn.on {
    display: none;
  }
  header div.inner-wrap {
    display: none;
  }
  header div.inner-wrap.on {
    position: fixed;
    background-color: rgba(0, 0, 255, 0.7);
    top: 70px;
    width: 100%;
    flex-direction: column;
    height: 100%;
    display: none;
  }
  header div.inner-wrap.on div.inner {
    justify-content: right;
    margin-right: 70px;
    margin-top: 10px;
  }
  header div.inner-wrap.on div.inner nav ul.gnb {
    color: #fff;
    font-size: 12px;
    flex-direction: column;
  }
  header div.inner-wrap.on div.inner nav ul.gnb li {
    padding: 5px;
    border-radius: 15px;
    transition: 0.5s;
  }
  header div.inner-wrap.on div.inner nav ul.gnb li:hover {
    border: 2px solid #fff;
  }
  header div.inner-wrap.on div.selectbox {
    margin-top: 30px;
    margin-right: 40px;
  }
  header div.inner-wrap.on div.selectbox p {
    width: 75px;
  }
  header div.inner-wrap.on div.selectbox ul {
    position: absolute;
    top: 40px;
    color: #333;
    background-color: #fff;
    width: 120px;
    left: 3px;
    line-height: 2;
    z-index: 3;
    border-radius: 10px;
    text-align: center;
    display: none;
  }
  header div.inner-wrap.on div.selectbox ul li:hover {
    color: #999;
  }
  header div.inner-wrap.on div.selectbox span.select_btn {
    position: absolute;
    right: 15px;
    width: 40px;
    text-align: right;
    color: #8dff79;
  }
  header div.inner-wrap.on div.selectbox span.select_btn.off {
    display: none;
  }
  div.main section#section1 {
    background-size: cover;
    background-position: center;
  }
  div.main section#section1 div.inner-wrap {
    padding: 40px;
  }
  div.main section#section1 div.inner-wrap div.inner {
    flex-direction: row;
    flex-wrap: wrap;
  }
  div.main section#section1 div.inner-wrap div.inner span img {
    width: 60px;
    height: 60px;
  }
  div.main section#section2 {
    padding: 20px;
  }
  div.main section#section2 div.sc2-wrap {
    position: relative;
    text-align: center;
    width: 700px;
    margin: 0 auto;
  }
  div.main section#section2 div.sc2-wrap h1 {
    margin-bottom: 50px;
    padding-top: 50px;
  }
  div.main section#section2 div.sc2-wrap div.content {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
  }
  div.main section#section2 div.sc2-wrap div.content.top div {
    width: 500px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
  }
  div.main section#section2 div.sc2-wrap div.content.top div img {
    width: 500px;
    height: 250px;
  }
  div.main section#section2 div.sc2-wrap div.content.top div p {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-weight: 900;
  }
  div.main section#section2 div.sc2-wrap div.content.top div p span {
    font-size: 13px;
  }
  div.main section#section2 div.sc2-wrap div.content.bottom div {
    width: 500px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
  }
  div.main section#section2 div.sc2-wrap div.content.bottom div img {
    width: 500px;
    height: 250px;
  }
  div.main section#section2 div.sc2-wrap div.content.bottom div p {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-weight: 900;
  }
  div.main section#section2 div.sc2-wrap div.content.bottom div p span {
    font-size: 13px;
  }
  div.main section#section2 div.sc2-wrap a.btn {
    border: 2px solid rgb(61, 61, 255);
    background-color: white;
    color: #4040ff;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 700;
  }
  div.main section#footer div.download {
    display: flex;
    background: linear-gradient(70deg, rgb(235, 250, 102), rgb(41, 252, 199));
    padding: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  div.main section#footer div.download img.logo {
    height: 100px;
    width: 200px;
  }
  div.main section#footer div.download div.text {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
  }
  div.main section#footer div.download div.text a {
    font-size: 30px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 700;
  }
  div.main section#footer div.download div.text img {
    height: 70px;
  }
  div.main section#footer div.download div.url img {
    height: 50px;
  }
}
@media screen and (max-width: 630px) {
  div.main section#section1 {
    background-size: cover;
    background-position: center;
  }
  div.main section#section1 div.inner-wrap {
    padding: 40px;
  }
  div.main section#section1 div.inner-wrap div.inner {
    flex-direction: row;
    flex-wrap: wrap;
  }
  div.main section#section1 div.inner-wrap div.inner span img {
    width: 60px;
    height: 60px;
  }
  div.main section#section2 {
    padding: 20px;
  }
  div.main section#section2 div.sc2-wrap {
    position: relative;
    text-align: center;
    width: 700px;
    margin: 0 auto;
  }
  div.main section#section2 div.sc2-wrap h1 {
    margin-bottom: 50px;
    padding-top: 50px;
  }
  div.main section#section2 div.sc2-wrap div.content {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
  }
  div.main section#section2 div.sc2-wrap div.content.top div {
    width: 500px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
  }
  div.main section#section2 div.sc2-wrap div.content.top div img {
    width: 500px;
    height: 250px;
  }
  div.main section#section2 div.sc2-wrap div.content.top div p {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-weight: 900;
  }
  div.main section#section2 div.sc2-wrap div.content.top div p span {
    font-size: 13px;
  }
  div.main section#section2 div.sc2-wrap div.content.bottom div {
    width: 500px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
  }
  div.main section#section2 div.sc2-wrap div.content.bottom div img {
    width: 500px;
    height: 250px;
  }
  div.main section#section2 div.sc2-wrap div.content.bottom div p {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-weight: 900;
  }
  div.main section#section2 div.sc2-wrap div.content.bottom div p span {
    font-size: 13px;
  }
  div.main section#section2 div.sc2-wrap a.btn {
    border: 2px solid rgb(61, 61, 255);
    background-color: white;
    color: #4040ff;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 700;
  }
  div.main section#footer div.download {
    display: flex;
    background: linear-gradient(70deg, rgb(235, 250, 102), rgb(41, 252, 199));
    padding: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  div.main section#footer div.download img.logo {
    height: 100px;
    width: 200px;
  }
  div.main section#footer div.download div.text {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
  }
  div.main section#footer div.download div.text a {
    font-size: 30px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 700;
  }
  div.main section#footer div.download div.text img {
    height: 70px;
  }
  div.main section#footer div.download div.url img {
    height: 50px;
  }
}